//Grid

#grid {
	width: 90%;
	margin-left: 3%;
}


.k-grid-pager {
	font-size: 13px;
}

.k-grid .k-header {
	font-size: 15px;
}

.dataInfo td {
	border: 1px solid #eeeeee;
	padding: 5px;
	font-size: 32px;
}

#eventContent table{
	width: 100%;
}

#eventType{
	width: 100%;
}

.eventSubmit {
	width: 90%;
	background: #000ac8;
	border: none;
	border-radius: 0;
	color: #fff;
	outline:none;
	font-size: 25px;
}

#eventDesc{
	width: 250px;
	height: 100px;
}

#eventForm .labelSpace {
	margin-top: 15px;
	margin-bottom: -5px;
}

#eventForm textarea {
	width: 100%;
	height: 130px;
}

#eventForm .k-invalid-msg {
	margin: 1px;
	height: 17px;
	color: #fff;
	border: none;
	border-radius: 1;
	padding: 2px;
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
}

#eventStartTime, #eventEndTime, #eventDate {
	background: #eee;
}

.eventStatus {
	font-size: 20px;
	margin: 5px;
}

.valid {
	color: #00ff00;
	font-weight: bold;
}

.invalid {
	color: red;
	font-weight: bold;
}

